body{background-image:url("beaver.jpg"); font-size:25px; color:white;}
h1{font-style:normal; font-family:arial;}
ol{color:red;}
hr{color:green;}
img{width:150px;height:150px;}
.i{color:white;}
.list{color:blue;}
a{color:pink;}
